[submodule "http-proxy"]
	path = http-proxy
	url = https://github.com/zk-123/http-proxy.git
[submodule "keyattestation"]
	path = warden-roboto/src/keyattestation
	url = https://github.com/android/keyattestation.git
[submodule "warden-roboto/src/android-key-attestation"]
	path = warden-roboto/src/android-key-attestation
	url = https://github.com/google/android-key-attestation.git
[submodule "signum"]
	path = signum
	url = https://github.com/a-sit-plus/signum.git
